<template>
	<div class="container">
		<div class="row">
			<div class="'col text-left">
				<h2>Create Album</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="container">
					<form @submit="onsubmit" enctype="multipart/form-data">
						<div class="form-group row">

							<label class="col-form-label" for="title">Title</label>
							<input type="text" class="form-control" name="title" v-model.trim="form.title">
						</div>

						<div class="form-group row">

							<label class="col-form-label" for="publication_date">Publication Date</label>
							<input type="date" class="form-control" name="publication_date" v-model.trim="form.publication_date">
						</div>

						<div class="form-group row">
							<select name="artist" class="form-control" v-model.trim="form.artist">
							  	<option v-for="option in options" v-bind:value="option['id']">
							    {{ option['name'] }}
							  	</option>
							</select>
							
						</div>

						<div class="form-group row">

							<label class="col-form-label" for="cover_image">Cover image</label>
							<!-- created , but not saved yet-->
							<input type="file" class="form-control" accept="image/*" @change="uploadImage" id="file-input" name="cover_image">
						</div>
						
						<div class="rows">
							<div>
								<b-button type="submit" variant="primary"> Create
								</b-button>
								<b-button class="btn-large-space" :to="{name: 'ListAlbum' }"> Cancelar
								</b-button>

							</div>
							
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import axios from 'axios'
	import swal from 'sweetalert'

	export default{
		data(){
			return{
				form:{
					title: '',
					publication_date: '',
					cover_image: '',
					artist: '',
				},
				options:[]
			}
		},
		methods:{
			onsubmit(evt){
				evt.preventDefault()

				const path = 'http://localhost:8000/api/v1.0/albums/'
				axios.post(path, this.form).then((response) => {
					console.log(this.form.title)
					this.form.title = response.data.title
					this.form.publication_date = response.data.publication_date
					this.form.cover_image = response.data.cover_image
					this.form.artist = response.data.artist
					swal("Album created successfully", "", "success")
				})
				.catch( (error) => {
					swal("Album not created", "", "success")
					console.log(error)
				})
			},
			getOptions(){
				const path = 'http://127.0.0.1:8000/api/v1.0/artists/'
				axios.get(path).then((response) => {
					console.log(response.data);
					this.options = response.data
				})
				.catch((error) => {
					console.log(error)
				})
			},
			uploadImage(event) {

			    const URL = 'http://127.0.0.1:8000/api/v1.0/albums/'; 
			    
			    let data = new FormData();

			    data.append('title', this.form.title);
			    data.append('publication_date', this.form.publication_date);
			    data.append('artist', this.form.artist);
			    data.append('cover_image', event.target.files[0]); 

			    let config = {
			      header : {
			        'Content-Type' : 'multipart/form-data'
			      }
			    }

			    axios.post( 
			      URL, 
			      data,
			      config
			    ).then( (response) => {
			    	swal("Created", "", "success")
			        console.log('image upload response > ', response)
			    }).catch( (error) => {
			    	swal("Not created", "", "error")
					console.log(error)
				})
			}
		},
		created() {
			this.getOptions()
		}
	}
	
</script>
7

