<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<h2>List of Songs</h2>

				<div class="col-md-12">
					<b-table stripped hover :items="songs" :fields="fields">
						
					</b-table>
				</div>
			</div>
			
		</div>
	</div>
</template>

<script>
	import axios from 'axios';
	export default{
		data(){
			return{
				fields:[
					{key: 'title', label: 'Title'},
					{key: 'album_str', label: 'Album'},
					{key: 'duration', label: 'Duration (h:mm:ss)'}
				],
				songs:[]
			}
		},
	
		methods:{
			getSongs(){
				const path = 'http://127.0.0.1:8000/api/v1.0/songs/'
				axios.get(path).then((response) => {
					this.songs = response.data
				})
				.catch((error) => {
					console.log(error)
				})
			}
		},

		created(){
			this.getSongs()
		}
	}
</script>

<style lang="css" scoped>
	
</style>