<template lang="html">
	<div class="container">
		<div class="row">
			<div class="col text-left">
				<div>
					<h2>List of Albums</h2>
					<b-button size="sm" :to="{name: 'CreateAlbum'}" variant="primary">
						Create Album
					</b-button>
				</div>

				<div class="card-group">
				<div v-for="album in albums">
					<div class="card">
						<!--b-table stripped hover :items="albums" :fields="fields"-->
						
						<img class="card-img-top albumimg" v-bind:src="album.cover_image" v-bind:alt="Nothing">

						<div class="card-body">
							<h2 class="card-title">{{ album.title }}</h2>
							<p class="card-text">{{ album.artist_str }}</p>
							<p class="card-text">{{ album.publication_date }}</p>
						</div>
					</div>
				</div>
				</div>

			</div>
			
		</div>
	</div>
</template>

<script>
	import axios from 'axios';
	export default{
		data(){
			return{
				fields:[
					{key: 'title', label: 'Title'},
					{key: 'artist_str', label: 'Artist'},
					{key: 'publication_date', label: 'Publication Date'},
					{key: 'cover_image', label:'Cover Image'}
				],
				albums:[]
			}
		},
	
		methods:{
			getAlbums(){
				const path = 'http://127.0.0.1:8000/api/v1.0/albums/'
				axios.get(path).then((response) => {
					this.albums = response.data
				})
				.catch((error) => {
					console.log(error)
				})
			}
		},

		created(){
			this.getAlbums()
		}
	}
</script>

<style lang="css" scoped>
	.albumimg{
		width: 250px;
		height: auto;
	}
</style>